html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-earth {
    background-color: #f4ede4;
    border-bottom: 1px solid #d8c3a5;
    box-shadow: none;
}

    .navbar-earth .navbar-brand {
        font-weight: 600;
        color: #4e4031;
    }

        .navbar-earth .navbar-brand:hover,
        .navbar-earth .navbar-brand:focus {
            color: #725f49;
        }

    .navbar-earth .nav-link {
        color: #4e4031;
        margin-right: 1rem;
        transition: color 0.2s ease-in-out;
    }

        .navbar-earth .nav-link:hover,
        .navbar-earth .nav-link:focus,
        .navbar-earth .nav-link.active {
            color: #8d755e;
        }

    .navbar-earth .navbar-toggler {
        border-color: #cbb59f;
    }

        .navbar-earth .navbar-toggler:focus {
            box-shadow: 0 0 0 0.15rem rgba(141, 117, 94, 0.35);
        }